@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    background-color: #2D434D;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.rounded-b-lg {
    margin-top: -1vh;
}

.border-r-2 {
    border-right: none;
}